header {
    background-color: rgba(128, 128, 128, 0.685);
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;

}
nav {
    position: absolute; /*Codigo para mudar o ponto INICIAL de uma marcação*/
    top: 125px;
    right: 0;

}
nav  li {
    display: inline; /* inline = liberado para deslocamento lateral*/
    margin-left: 15px;
}

nav a {
    text-transform: uppercase; /* Transformando as letras em MAISCULA */
    color: black;
    font-weight: bold; /* Deixando em NEGRITO */
    font-size: 22px;
    text-decoration: none; /* Mexendo no Sublinhado */
}

nav a:hover {
    color: brown;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    display: inline-block; /* inline-block = Posso mexer no elemento completo (altura, largura, etc...( */
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* Os PX são inclusos na (% - Porcentagem) do site, se não usar esse comando, os PX e a % serão Somados. */
    border:2px solid black;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: brown ;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos li:active {
    border-color: chocolate;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    padding-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form  {
    margin: 40px 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background; /* Delay na hora de mudar a cor do elemento */
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
}