/*   */
#banner { 

    /*  */

    width: 100%;
}

.principal {

    /* BACKGROUND-COLOR = Cor de fundo do elemento 
       

    background-color: grey;
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {

    /* TEXT-ALLIGN = Alinhamento de texto */

    text-align: center;
}

p {
    text-align: center;
}

#missao {

    /* FONT-SIZE = Tamanho da fonte */

    font-size: 20px;
}

/* Meio de identificar o filho STRONG da tag EM */
em > strong {

    /* COLOR = Mudar a cor */
    color: rgb(117, 0, 0);
}

.itens {

    /* FONT-STYLE = Estilo de font */
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

ul {

    /* DISPLAY INLINE/INLINE-BLOCK = Mudando para inline ou inline block voce pode colocar coisas lado a lado.
       DISPLAY BLOCK = Ocupado a linha inteira do site 
       VERTICAL-ALIGN = Coloca o ponto de referencia do conteudo, na parte do topo*/ 

    display: inline-block;
    vertical-align: top; 
    width: 20%; 
    margin-right: 15%;
}

.imagem {

    /* HEIGHT = Altura do elemento */
    width: 50%;
    height: 50%;

}