/* # = ID
   . = CLASS */

/* Definindo a fonte patrão do conteudo escrito no body */ 
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgba(128, 128, 128, 0.685);
    /* PADDING = Margem interna do elemento */
    padding: 20px 0; 
}

.caixa {
    /* WIDTH = Largura do objeto */
    width: 940px;
    /* POSITION = define duas coisas: como o elemento se comporta em relação aos seus ancestrais na hierarquia, e como seus descendentes poderão se comportar em relação a ele. */
    position: relative;
    /* MARGIN = Margem externa do elemento*/
    margin: 0 auto;

}
nav {
    position: absolute;
    top: 125px;
    right: 0;

}
nav  li {
    /* inline = liberado para deslocamento lateral*/
    display: inline; 
    margin-left: 15px;
}

nav a {
    /* Transformando as letras em MAISCULA */
    text-transform: uppercase; 
    color: black;
    /* Deixando em NEGRITO */
    font-weight: bold; 
    font-size: 22px;
    /* Mexendo no Sublinhado */
    text-decoration: none; 
}

/* Pseudo class HOVER = Quando passar o mouse por cima da marcação do HTML */
nav a:hover { 
    color: brown;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {
    /* inline-block = Posso mexer no elemento completo (altura, largura, etc...( */
    display: inline-block; 
    text-align: center;
    width: 30%;
    /* VERTICAL-ALIGN = Coloca o ponto de referencia do conteudo, na parte do topo */
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* Os PX são inclusos na (% - Porcentagem) do site, se não usar esse comando, os PX e a % serão Somados. */
    box-sizing: border-box; 
    border:2px solid black;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: brown ;
}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Active = Quando clicar em algo */
.produtos li:active {
    border-color: chocolate;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    padding-top: 20px;
}


form  {
    margin: 40px 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /* Delay na hora de mudar a cor do elemento */
    transition: 1s all;
    /* Mudando cursor para mãozinha */
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: gray;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* css da pagina inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left; /* limpa  a  formataçao q a tag float impoem depois da img */
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(white, rgb(128, 128, 128));
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}
.beneficios {
    padding: 3em;
    background: gray;
    
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    /*Altura da linha */
    line-height: 1.5; 
}

/*Colocando o primeiro FILHO/ITEM em negrito com a class pseudo element */
.itens:first-child { 
    font-weight: bold;
}

/* pseudo class BEFORE = TUDO Antes do texto
   pseudo class AFTER = TUDO depois do texto*/
.itens::before {
    content: "\1F7CA";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/* Método para estilizar em tablets/celulares etc... (vai ter que adaptar tudo para esses dispositivos a partir daqui)*/
@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}
